body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

header {
    background: #222;
    padding: 10px 0;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}

.logo-force {
  color: #333333; 
}

.logo-hub {
  background-color: #28a745; 
  border-radius: 10px;
  padding: 3px;
  color: #f8f9fa;
}

header nav {
    background-color: #f8f9fa;           
    border-bottom: 3px solid #28a745;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header nav a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

header nav a:hover {
    background-color: #28a745;
    color: white;
}

.formulario {
  background-color: white; 
  border-radius: 10px;
  padding: 50px;
  max-width: 500px;
  margin: 40px auto; 
}

.formulario input {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 1rem;
}

.formulario button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; 
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.formulario button:hover {
  background-color: #218838; 
}
