body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

header {
    background: #222;
    padding: 10px 0;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
}
header .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}

header .logo-force {
  color: #333333; 
}

header .logo-hub {
  background-color: #28a745; 
  border-radius: 10px;
  padding: 3px;
  color: #f8f9fa;
}

header nav {
    background-color: #f8f9fa;           
    border-bottom: 3px solid #28a745;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header nav a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

header nav a:hover {
    background-color: #28a745;
    color: white;
}

.formulario {
  background-color: white; 
  border-radius: 10px;
  padding: 50px;
  max-width: 500px;
  margin: 150px auto; 
}

.formulario input,
.formulario select  {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 1rem;
}

.formulario textarea  {
  width: 95%;
  height: 150px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 1rem;
}


.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
  border-color: #28a745; 
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  margin: 10px;
}

.botones {
  text-align: center;
}

.limpiar button {
  background-color: rgb(237, 8, 8); 
}

.limpiar button:hover {
  background-color: rgb(172, 12, 12);
}
button:hover {
  background-color: #218838; 
}

.boton-alt button {
  background-color: #ff9f43;
}

.boton-alt button:hover {
  background-color: #ff6f00;
}

